.zeam-form .multi-actions input,
.zeam-form .step-actions input,
.zeam-form .actions input {
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: 9px 1px;
  background-color: transparent;
  background-image: url(../linkTransparent.gif);
  color: #000000;
  cursor: pointer;
  font-size: 85%;
  padding: 1px 1px 1px 15px;
  margin-top: 2px;
  text-transform: lowercase;
  border: 1px solid #8cacbb;
}

.zeam-form span.field-required  {
  background:url(../required.gif) no-repeat scroll left center transparent;
  color: #FFFFFF;
  padding:0 0 0 8px;
}

.zeam-form span.field-description  {
  color: #76797C;
  font-size: 90%;
  margin: 0 0 0.2em;
}

.zeam-form .form-error,
.zeam-form .field-error {
  display: block;
  color: #000000;
  background-color: #FFDDCC;
  border: 1px solid #DD0000;
  padding: 0.5em;
  margin: 0.5em 0px 0.5em 0px;
  width: 95%;
}

.zeam-form .field-plone-select {
  width: 45%;
}

.zeam-form table tr {
  vertical-align: top;
}

/* CSS for list widget */

.zeam-form div.field-collection-line {
  clear: both;
}

.zeam-form button.field-collection-move-up {
  background-image: url("++resource++zeam_form_plone_resources/arrow_up.png");
  background-color: transparent;
  height: 16px;
  width: 16px;
  border: 0px;
  float: right;
  margin: 0;
  padding: 0;
}

.zeam-form button.field-collection-move-down {
  background-image: url("++resource++zeam_form_plone_resources/arrow_down.png");
  background-color: transparent;
  height: 16px;
  width: 16px;
  border: 0px;
  float: right;
  margin: 0;
  padding: 0;
}

.zeam-form input.field-collection-line-selector {
  height: 16px;
  width: 16px;
  border: 0px;
  float: right;
}

.zeam-form .field-collection-lines div.line-actions {
  float: left;
  width: 50px;
}

.zeam-form .field-collection-lines td.line-actions {
  width: 16px;
}

.zeam-form .field-collection-lines td.ordering-actions {
  width: 48px;
}

.zeam-form .field-collection .multi-actions {
  clear: both;
}

.zeam-form button.field-plone-multi-select-add {
  background-image: url("++resource++zeam_form_plone_resources/arrow_left.png");
  background-color: transparent;
  height: 16px;
  width: 16px;
  border: 0px;
}

.zeam-form button.field-plone-multi-select-remove {
  background-image: url("++resource++zeam_form_plone_resources/arrow_right.png");
  background-color: transparent;
  height: 16px;
  width: 16px;
  border: 0px;
}
